*~
*.o
build/
sql/test/dates/*.out
sql/test/dates/*.res
sql/test/dates/*.diff
*/ts/src/js
dist/
*.db
*.state
*.wasm
target
**/node_modules/
.skgw.conf
bun.lockb
/www/docs/api/
/www/yarn.lock
*.tsbuildinfo
